---
layout: default
---

<article class="index">

  <h1 class="page-title">Index</h1>

  {{ content }}

  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2 id="year-{{post.date | date: '%Y'}}">{{currentdate}}</h2>
      <ul class="related-posts">
      {% assign date = currentdate %}
    {% endif %}
    <li>
      <div class="heading">
        <a href="{{site.baseurl}}{{post.url}}"><span>{{post.title}}</span></a>
        <span class="timestamp">{{post.date | date: "%m/%d"}}</span>
      </div>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

  {% assign cheatsheets = site.pages | where_exp: "item" , "item.path contains '_cheatsheets'"%}
  <h2 id="cheatsheets">Cheatsheets</h2>
  {% for item in cheatsheets %}
    <li><a href="{{site.baseurl}}{{item.url}}"><span>{{item.title}}</span></a></li>
  {% endfor %}
</article>
